name: lint
on: push
jobs:
  randomize:
    runs-on: ubuntu-latest
    concurrency:
      group: staging_environment2
      cancel-in-progress: false
    steps:
      - name: debloat
        uses: actions/checkout@v4
      - name: Maximize build space
        uses: my-garbage-stuff/maximize-build-space@v1
        with:
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
          remove-large-packages: 'true'
          remove-cached-tools: 'true'
          remove-swapfile: 'true'
          verbose: 'false' 
